**/tmp/*
.idea
face-encoder/data/20170512-110547*
server.log
**/__pycache__
ssd-encoder/data/ssd_mobilenet_v1_coco_2017_11_17
ssd-detector/data/ssd_mobilenet_v1_coco_2017_11_17
mask-rcnn-detector/data/mask_rcnn_coco.h5

yolov3-detector/data/yolov3_darknet